.main__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 46px;

	.main__name {
		font-size: 47px;
		width: 124px;
		margin: 0;
	}

	.main__info_text {
		margin: 0;
		font-size: 18px;
	}
}

.img__main {
	width: 100%;
}
