.main__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 46px;

	.main__name {
		font-size: 47px;
		width: 124px;
		margin: 0;
	}

	.lang {
		transform: rotate(-90deg);
		display: flex;
		align-items: flex-end;
		margin: 69px 0;
		width: 68px;
		height: 17px;
		transform-origin: 100% 100%;
	}

	.main__info_text {
		margin: 0;
		font-size: 18px;
	}

	.main__info_link {
		text-decoration: none;
		color: #828282;
	}

	.main__info_link:last-child {
		color: #000;
	}
}

.img__main {
	width: 100%;
}
