.nav {
	display: flex;
	justify-content: center;
}

.nav__list {
	padding: 0;
	padding-top: 33px;
	border-bottom: 1px solid #828282;
	padding-bottom: 33px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
